{
  "openapi": "3.1.0",
  "info": {
    "title": "STAS Auth Gateway (Actions Minimal)",
    "version": "1.0.0",
    "description": "Read endpoints for STAS data"
  },
  "servers": [
    { "url": "https://intervals.stas.run/gw" }
  ],
  "paths": {
    "/api/me": {
      "get": {
        "operationId": "getMe",
        "summary": "Current user (from STAS)",
        "security": [ { "bearerAuth": [] } ],
        "responses": {
          "200": {
            "description": "Current user summary",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user_id": { "type": "integer" },
                    "user_summary": { "type": "object" },
                    "updated_at": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/api/icu/activities": {
      "get": {
        "operationId": "getIcuActivities",
        "summary": "Activities (from STAS, ICU-like format)",
        "security": [ { "bearerAuth": [] } ],
        "parameters": [
          { "in": "query", "name": "days", "schema": { "type": "integer" }, "required": false, "description": "Last N days" },
          { "in": "query", "name": "from", "schema": { "type": "string" }, "required": false, "description": "From date (YYYY-MM-DD)" },
          { "in": "query", "name": "to", "schema": { "type": "string" }, "required": false, "description": "To date (YYYY-MM-DD)" },
          { "in": "query", "name": "full", "schema": { "type": "boolean" }, "required": false, "description": "Return extended fields (debug)" }
        ],
        "responses": {
          "200": {
            "description": "List of activities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "string" },
                      "start_date_local": { "type": "string" },
                      "type": { "type": "string" },
                      "name": { "type": "string" },
                      "duration_s": { "type": "number" },
                      "distance_m": { "type": "number" }
                    }
                  }
                }
              }
            }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer", "bearerFormat": "JWT" }
    }
  }
}
