{
  "openapi": "3.1.0",
  "info": {
    "title": "Intervals/STAS Gateway API",
    "description": "OAuth-protected gateway for STAS DB and Intervals.icu (proxies STAS and ICU; resolves user_id from the access token).",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://intervals.stas.run"
    }
  ],
  "security": [
    {
      "oauth2": ["read"]
    }
  ],
  "paths": {
    "/api/db/user_summary": {
      "get": {
        "operationId": "getUserSummary",
        "summary": "Get user summary",
        "responses": {
          "200": {
            "description": "User summary data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "user_summary": {
                      "type": "object"
                    }
                  },
                  "required": ["ok"]
                }
              }
            }
          },
          "404": {
            "description": "User not found"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://intervals.stas.run/gw/oauth/authorize",
            "tokenUrl": "https://intervals.stas.run/gw/oauth/token",
            "scopes": {
              "read": "Read access"
            }
          }
        }
      }
    }
  }
}
