{
  "openapi": "3.1.0",
  "info": {
    "title": "STAS Intervals Gateway",
    "version": "1.0.0",
    "description": "Gateway for Intervals.icu planned workouts (read/write/delete) + STAS DB endpoints. Auth via OAuth2."
  },
  "servers": [
    {
      "url": "https://intervals.stas.run"
    }
  ],
  "security": [
    {
      "oauth2": [
        "ACTIVITY:WRITE",
        "WELLNESS:WRITE",
        "CALENDAR:WRITE",
        "CHATS:WRITE",
        "LIBRARY:WRITE",
        "SETTINGS:WRITE"
      ]
    }
  ],
  "paths": {
    "/gw/api/me": {
      "get": {
        "operationId": "getMe",
        "summary": "Get current user identity from JWT token",
        "responses": {
          "200": {
            "description": "User identity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gw/api/db/user_summary": {
      "get": {
        "operationId": "getUserSummary",
        "summary": "Get user_summary from STAS DB",
        "responses": {
          "200": {
            "description": "User summary payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserSummaryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gw/api/db/activity_detail": {
      "get": {
        "operationId": "getActivityDetailFromDB",
        "summary": "Get detailed package for one completed training",
        "description": "Read-only detailed package for one selected completed workout. Use after getTrainings identifies the exact training_id. Do not batch this action across many workouts. The response omits rawData, route coordinates, latlng, and raw stream arrays.",
        "parameters": [
          {
            "name": "training_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Training id returned by trainings actions. Load trainings first to identify the exact completed workout."
          }
        ],
        "responses": {
          "200": {
            "description": "Detailed activity package for one selected workout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid training_id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Training not found for current user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gw/api/db/profile_sections": {
      "get": {
        "operationId": "readProfileSections",
        "summary": "Read profile memory sections",
        "description": "Read current rules and profile memory with hashes. Goals and results are available only through getEditableGoalsResults.",
        "responses": {
          "200": {
            "description": "Profile sections payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "sections": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ActiveProfileSection"
                      }
                    }
                  },
                  "required": [
                    "ok",
                    "sections"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gw/api/db/profile_sections/preview": {
      "post": {
        "operationId": "previewProfileSectionChange",
        "summary": "Preview a profile memory change",
        "description": "Preview one rules/profile memory change. Identical normalized text returns noChange=true and creates no history record. Goals and results use previewGoalResultChange.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileSectionPreviewRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile change preview",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileSectionPreviewResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Write disabled, section disabled, not allowlisted, or sensitive data rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Current section text differs from previousHash",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gw/api/db/profile_sections/commit": {
      "post": {
        "operationId": "commitProfileSectionChange",
        "summary": "Commit a profile memory change",
        "description": "Save a previewed rules/profile change. Goals and results use commitGoalResultChange.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileSectionCommitRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile change committed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileWriteResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or expired preview",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Profile change not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Profile changed since preview",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gw/api/db/profile_changes": {
      "get": {
        "operationId": "readProfileChangeHistory",
        "summary": "Read compact profile change history",
        "description": "Read a compact paginated history index. Full texts and hashes are omitted; use readProfileChangeDetail for one selected record.",
        "parameters": [
          {
            "name": "section",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "profile",
                "goals",
                "rules"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "previewed",
                "committed",
                "restored",
                "expired",
                "conflict",
                "rejected"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20,
              "default": 10
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "nextCursor from the previous page."
          }
        ],
        "responses": {
          "200": {
            "description": "Compact profile change history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileMemoryHistoryPage"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gw/api/db/profile_changes/{changeId}/restore": {
      "post": {
        "operationId": "restoreProfileChange",
        "summary": "Restore a profile memory change",
        "description": "Restore one committed change only after readProfileChangeDetail and explicit confirmation of the exact previous text.",
        "parameters": [
          {
            "name": "changeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Committed profile memory change id."
          }
        ],
        "responses": {
          "200": {
            "description": "Profile change restored",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileWriteResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Profile change not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Profile changed since commit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gw/icu/events": {
      "get": {
        "operationId": "getPlannedWorkoutsGw",
        "summary": "List planned workouts (gateway route)",
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 365
            },
            "description": "Return planned events for last N days window (relative). If omitted, can use oldest/newest."
          },
          {
            "name": "oldest",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Oldest date (YYYY-MM-DD) inclusive."
          },
          {
            "name": "newest",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Newest date (YYYY-MM-DD) inclusive."
          }
        ],
        "responses": {
          "200": {
            "description": "Planned events list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlannedWorkoutsList"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deletePlannedWorkouts",
        "summary": "Delete planned workouts by exact id, exact external_id, or external_id_prefix + date window (supports dry_run)",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Exact Intervals event id to delete. Safest selector for one known event, e.g. 116577024. Can be comma-separated for multiple exact ids."
          },
          {
            "name": "external_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Exact external_id to delete, e.g. test:write-check:2026-06-18. Can be comma-separated or repeated as external_ids."
          },
          {
            "name": "external_ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Comma-separated exact external_id values to delete. Use only when every value is known exactly."
          },
          {
            "name": "external_id_prefix",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Delete only events whose external_id starts with this prefix, e.g. plan: or test:. Requires oldest and newest. Gateway re-filters by external_id prefix before deleting."
          },
          {
            "name": "oldest",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Oldest date (YYYY-MM-DD) inclusive. Required with external_id_prefix; optional narrowing window with external_id."
          },
          {
            "name": "newest",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Newest date (YYYY-MM-DD) inclusive. Required with external_id_prefix; optional narrowing window with external_id."
          },
          {
            "name": "dry_run",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "If true, do not delete, only report what would be deleted. Always use dry_run first before deleting by prefix."
          }
        ],
        "responses": {
          "200": {
            "description": "Delete result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteWindowResult"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Safe delete selector. Prefer exact id, or exact external_id. Use external_id_prefix only with oldest/newest for confirmed window replacement. Gateway re-filters by external_id before dry-run and real delete."
      },
      "post": {
        "operationId": "createPlannedWorkoutsGw",
        "summary": "Bulk create planned events (gateway route)",
        "description": "Bulk create planned events via Intervals API (dedupe by external_id).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePlannedWorkoutsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk create result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkCreateResult"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "dry_run",
            "in": "query",
            "required": true,
            "schema": {
              "type": "boolean"
            },
            "description": "Required. false writes to Intervals.icu; true validates/previews only without creating events."
          }
        ]
      }
    },
    "/gw/trainings": {
      "get": {
        "operationId": "getTrainings",
        "summary": "Get a bounded completed-workout list from STAS",
        "description": "Size-safe workout list. Omit full for chronology, load, reports, and choosing training_id. Use full=true only to compare multiple workouts in a bounded date range. For one workout, call getActivityDetailFromDB. Check listDetail for omitted or truncated sections.",
        "parameters": [
          {
            "name": "oldest",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start boundary date (YYYY-MM-DD), inclusive."
          },
          {
            "name": "newest",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End boundary date (YYYY-MM-DD). For calendar windows, use the day after the last desired date."
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Relative days window. Prefer oldest/newest for planning history."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 30
            },
            "description": "Max trainings per page. Real cap is 50."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            },
            "description": "Pagination offset when a date window needs more pages."
          },
          {
            "name": "full",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Optional analysis-rich list mode for comparing multiple workouts. It is still compact and size-safe, not raw data and not the detailed view for one workout. Omit it for listing/lookup; use getActivityDetailFromDB after selecting one exact training_id."
          }
        ],
        "responses": {
          "200": {
            "description": "Bounded completed-workout list with per-item listDetail accounting",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingsListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream error, auth error, or invalid upstream response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "504": {
            "description": "Upstream timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gw/api/db/user_summary/v2": {
      "get": {
        "operationId": "getUserSummaryGw",
        "summary": "Get full user summary via gateway in up to two parts",
        "description": "Call part 1. On partial, call part 2 with expectedVersion, merge the top-level data, and only then answer. On version_mismatch restart. Use summaryFreshness: stale or refresh_failed means not verified current; null means unavailable, not zero. Make at most two calls per summaryVersion.",
        "parameters": [
          {
            "name": "part",
            "in": "query",
            "required": false,
            "description": "Optional part number. Omit this parameter or use 1 for the first call; use 2 only after a partial response.",
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2
              ],
              "default": 1
            }
          },
          {
            "name": "expectedVersion",
            "in": "query",
            "required": false,
            "description": "Required when part=2. Use the summaryVersion returned by the first partial response.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Complete summary or one part of a two-part summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserSummaryV2Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserSummaryV2InvalidRequestResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Small error response when the summary is unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserSummaryV2SmallErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "The summary version changed; restart with part=1",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserSummaryV2VersionMismatchResponse"
                }
              }
            }
          },
          "413": {
            "description": "The summary cannot fit into two parts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserSummaryV2TooLargeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gw/strategy": {
      "post": {
        "operationId": "writeStrategy",
        "summary": "Write strategy to user_summary (server-side storage)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StrategyWriteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Write result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StrategyWriteResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gw/api/db/goals/editable": {
      "get": {
        "operationId": "getEditableGoalsResults",
        "summary": "Read editable goals, starts, and results",
        "description": "Read the authoritative current state before any goals/results change. Keep dataVersion and use it in previewGoalResultChange. This does not write anything.",
        "responses": {
          "200": {
            "description": "Editable goals/results state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EditableGoalsResultsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Goals are unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gw/api/db/goals/activity-candidates": {
      "get": {
        "operationId": "getGoalActivityCandidates",
        "summary": "Read eligible activities for one start",
        "description": "Read exact activity candidates before linking a completed start to an activity. Use only an event goal public ID from getEditableGoalsResults.",
        "parameters": [
          {
            "name": "goal_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Event goal public ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Activity candidates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoalActivityCandidatesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid goal ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Goal not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gw/api/db/goals/changes/preview": {
      "post": {
        "operationId": "previewGoalResultChange",
        "summary": "Preview one exact goals or results change",
        "description": "Required write gate: first read getEditableGoalsResults, then preview one exact change with that dataVersion. Show the returned before/after/effects and request explicit confirmation. This does not save anything.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "expectedDataVersion": {
                    "type": "string",
                    "pattern": "^[0-9a-f]{64}$",
                    "description": "Exact dataVersion from getEditableGoalsResults."
                  },
                  "command": {
                    "$ref": "#/components/schemas/GoalResultEditCommand"
                  }
                },
                "required": [
                  "expectedDataVersion",
                  "command"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Change preview",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoalResultChangePreviewResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid change",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Goal changes disabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Target not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "State changed since read",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gw/api/db/goals/changes/commit": {
      "post": {
        "operationId": "commitGoalResultChange",
        "summary": "Commit a confirmed goals or results change",
        "description": "Commit only the exact preview after the user explicitly confirms its before/after/effects. Then use returned state as the source of truth; calendar synchronization may still be pending.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "changeId": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Preview ID returned by previewGoalResultChange."
                  }
                },
                "required": [
                  "changeId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Committed change and authoritative state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoalResultChangeCommitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or expired preview",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Goal changes disabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Preview not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "State changed since preview",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gw/api/db/profile_changes/{changeId}": {
      "get": {
        "operationId": "readProfileChangeDetail",
        "summary": "Read one profile change in full",
        "description": "Load exact old/new text and hashes for one record selected from readProfileChangeHistory. This is read-only.",
        "parameters": [
          {
            "name": "changeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Full profile change record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileMemoryChangeDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Profile change not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://intervals.stas.run/gw/oauth/authorize",
            "tokenUrl": "https://intervals.stas.run/gw/oauth/token",
            "scopes": {
              "ACTIVITY:WRITE": "Read and write activities",
              "WELLNESS:WRITE": "Read and write wellness data",
              "CALENDAR:WRITE": "Read and write planned workouts",
              "CHATS:WRITE": "Read and write chats",
              "LIBRARY:WRITE": "Read and write workout library",
              "SETTINGS:WRITE": "Read and write athlete settings"
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "retryable": {
            "type": "boolean"
          },
          "upstream_status": {
            "type": "integer"
          },
          "details": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          }
        },
        "additionalProperties": false
      },
      "AnalysisProjectionResults": {
        "type": "object",
        "properties": {
          "observedMoving": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AnalysisProjectionResultLane"
              },
              {
                "type": "null"
              }
            ]
          },
          "observedElapsed": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AnalysisProjectionResultLane"
              },
              {
                "type": "null"
              }
            ]
          },
          "officialChip": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AnalysisProjectionResultLane"
              },
              {
                "type": "null"
              }
            ]
          },
          "officialGun": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AnalysisProjectionResultLane"
              },
              {
                "type": "null"
              }
            ]
          },
          "manual": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AnalysisProjectionResultLane"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "observedMoving",
          "observedElapsed",
          "officialChip",
          "officialGun",
          "manual"
        ],
        "additionalProperties": false
      },
      "AnalysisProjectionResultLane": {
        "type": "object",
        "properties": {
          "seconds": {
            "type": "integer",
            "minimum": 1
          },
          "source": {
            "type": "string",
            "enum": [
              "observed_moving",
              "observed_elapsed",
              "official_chip",
              "official_gun",
              "manual"
            ]
          },
          "evidenceLevel": {
            "type": "string",
            "enum": [
              "exact",
              "high_confidence",
              "provisional",
              "ambiguous",
              "unlinked",
              "invalidated",
              "unknown"
            ]
          },
          "confidence": {
            "type": "string",
            "enum": [
              "high",
              "medium",
              "low",
              "unknown"
            ]
          },
          "limitations": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "seconds",
          "source",
          "evidenceLevel",
          "confidence",
          "limitations"
        ],
        "additionalProperties": false
      },
      "MeResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "user_id": {
            "type": "string",
            "description": "Intervals athlete id resolved from OAuth token"
          },
          "email": {
            "type": "string"
          }
        },
        "required": [
          "ok",
          "user_id"
        ],
        "additionalProperties": false
      },
      "UserSummaryResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "user_summary": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          }
        },
        "required": [
          "ok",
          "user_summary"
        ],
        "additionalProperties": false
      },
      "UserSummaryV2Response": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/UserSummaryV2CompleteResponse"
          },
          {
            "$ref": "#/components/schemas/UserSummaryV2PartialResponse"
          }
        ]
      },
      "UserSummaryV2CompleteResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "complete"
            ]
          },
          "summaryVersion": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "status",
          "summaryVersion",
          "data"
        ],
        "additionalProperties": false
      },
      "UserSummaryV2PartialResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "partial"
            ]
          },
          "summaryVersion": {
            "type": "string"
          },
          "part": {
            "type": "integer",
            "enum": [
              1,
              2
            ]
          },
          "parts": {
            "type": "integer",
            "enum": [
              2
            ]
          },
          "data": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "status",
          "summaryVersion",
          "part",
          "parts",
          "data"
        ],
        "additionalProperties": false
      },
      "UserSummaryV2InvalidRequestResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "invalid_request"
            ]
          }
        },
        "required": [
          "status"
        ],
        "additionalProperties": false
      },
      "UserSummaryV2SmallErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ],
        "additionalProperties": false
      },
      "UserSummaryV2VersionMismatchResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "version_mismatch"
            ]
          },
          "summaryVersion": {
            "type": "string"
          }
        },
        "required": [
          "status",
          "summaryVersion"
        ],
        "additionalProperties": false
      },
      "UserSummaryV2TooLargeResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "too_large"
            ]
          },
          "summaryVersion": {
            "type": "string"
          }
        },
        "required": [
          "status",
          "summaryVersion"
        ],
        "additionalProperties": false
      },
      "Training": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "workout_type": {
            "type": "string"
          },
          "distance": {
            "type": "string"
          },
          "moving_time": {
            "type": "string"
          },
          "training_load": {
            "type": "integer"
          },
          "fitness": {
            "type": "number"
          },
          "fatigue": {
            "type": "number"
          },
          "intensity": {
            "type": "string"
          },
          "avg_heartrate": {
            "type": "integer"
          },
          "max_heartrate": {
            "type": "integer"
          },
          "user_report": {
            "type": [
              "string",
              "null"
            ]
          },
          "ai_comment": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "date"
        ],
        "additionalProperties": true
      },
      "TrainingsResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "trainings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Training"
            }
          }
        },
        "required": [
          "ok",
          "trainings"
        ],
        "additionalProperties": false
      },
      "ProfileSection": {
        "type": "object",
        "properties": {
          "section": {
            "type": "string",
            "enum": [
              "profile",
              "goals",
              "rules"
            ],
            "description": "Choose profile for athlete facts, goals for targets, rules for constraints. Do not mix sections."
          },
          "targetField": {
            "type": "string",
            "enum": [
              "info",
              "goals",
              "rules"
            ]
          },
          "text": {
            "type": "string"
          },
          "hash": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          }
        },
        "required": [
          "section",
          "targetField",
          "text",
          "hash",
          "enabled"
        ],
        "additionalProperties": false
      },
      "ProfileSectionPreviewRequest": {
        "type": "object",
        "properties": {
          "section": {
            "type": "string",
            "enum": [
              "profile",
              "rules"
            ],
            "description": "Goals and results use previewGoalResultChange."
          },
          "structured": {
            "$ref": "#/components/schemas/ProfileMemoryWritableStructuredInput",
            "description": "Rules/profile input only. Goals and results use the dedicated goals-results operations."
          },
          "previousHash": {
            "type": "string",
            "minLength": 1,
            "description": "Hash returned by readProfileSections for this section."
          },
          "diffSummary": {
            "type": "string",
            "description": "Short factual summary of what changed. Do not include raw chat."
          }
        },
        "required": [
          "section",
          "structured",
          "previousHash"
        ],
        "additionalProperties": false
      },
      "ProfileMemoryStructuredProfile": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "birthYear": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 1940,
            "maximum": 2010,
            "description": "Birth year. Omit to preserve; null only to clear."
          },
          "gender": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "male",
              "female",
              null
            ],
            "description": "Gender from the web profile form. Omit to preserve; null only to clear."
          },
          "height": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 130,
            "maximum": 230,
            "description": "Height in cm. Omit to preserve; null only to clear."
          },
          "weight": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 30,
            "maximum": 200,
            "description": "Weight in kg. Omit to preserve; null only to clear."
          },
          "maxHr": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 100,
            "maximum": 220,
            "description": "Maximum heart rate. Omit to preserve; null only to clear."
          },
          "ltHr": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 100,
            "maximum": 220,
            "description": "Lactate-threshold heart rate. Omit to preserve; null only to clear."
          },
          "otherSports": {
            "type": [
              "string",
              "null"
            ],
            "description": "Other sports. Omit to preserve; null only to clear."
          },
          "raceResults": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "distance": {
                  "type": "string"
                },
                "result": {
                  "type": "string"
                },
                "date": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "distance",
                "result"
              ]
            },
            "description": "Race PR list. If provided, replaces the whole list; [] or null clears it. Omit to preserve."
          },
          "additional": {
            "type": [
              "string",
              "null"
            ],
            "description": "Additional durable profile context. Do not use for firstName."
          }
        }
      },
      "ProfileMemoryStructuredRules": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "trainingsPerWeek": {
            "type": "integer",
            "minimum": 1,
            "maximum": 14,
            "description": "Exact single number for Тренировок в неделю. Do not send ranges, minimums, maximums, or flexible wording here."
          },
          "offDays": {
            "type": "integer",
            "minimum": 0,
            "maximum": 7,
            "description": "Exact single number for Выходных. Do not send ranges, minimums, maximums, or flexible wording here."
          },
          "restDays": {
            "type": "string",
            "description": "Fixed rest weekdays for Дни отдыха, only when the user names fixed weekdays."
          },
          "customRules": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Separate durable custom rules. The server writes one Правило line per item."
          },
          "additional": {
            "type": "string",
            "description": "Extra durable rule context."
          }
        }
      },
      "ProfileSectionCommitRequest": {
        "type": "object",
        "properties": {
          "changeId": {
            "type": "integer",
            "minimum": 1,
            "description": "Preview change id returned by previewProfileSectionChange."
          }
        },
        "required": [
          "changeId"
        ],
        "additionalProperties": false
      },
      "ProfileMemoryChange": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "athleteId": {
            "type": "integer"
          },
          "section": {
            "type": "string",
            "enum": [
              "profile",
              "goals",
              "rules"
            ]
          },
          "targetField": {
            "type": "string"
          },
          "oldText": {
            "type": [
              "string",
              "null"
            ]
          },
          "newText": {
            "type": [
              "string",
              "null"
            ],
            "description": "Server-rendered exact full text proposed or committed by the change. Do not send newText in preview requests."
          },
          "oldHash": {
            "type": "string"
          },
          "newHash": {
            "type": "string"
          },
          "source": {
            "type": "string",
            "enum": [
              "gpt",
              "claude"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "previewed",
              "committed",
              "restored",
              "expired",
              "conflict",
              "rejected"
            ]
          },
          "diffSummary": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "committedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": true
      },
      "ProfileWriteResult": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "change": {
            "$ref": "#/components/schemas/ProfileMemoryChange"
          },
          "section": {
            "$ref": "#/components/schemas/ProfileSection"
          }
        },
        "required": [
          "ok"
        ],
        "additionalProperties": false
      },
      "IcuEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Intervals event id"
          },
          "name": {
            "type": "string"
          },
          "start_date": {
            "type": "string",
            "format": "date-time"
          },
          "type": {
            "type": "string",
            "description": "Usually WORKOUT"
          }
        },
        "required": [
          "id",
          "name",
          "start_date"
        ],
        "additionalProperties": true
      },
      "PlannedWorkoutsList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/IcuEvent"
        }
      },
      "DeleteWindowResult": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "dry_run": {
            "type": "boolean"
          },
          "matched": {
            "type": "integer"
          },
          "deleted": {
            "type": "integer"
          },
          "ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "selector": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          },
          "to_delete": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer"
              },
              "ids": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "additionalProperties": true
          },
          "deleted_count": {
            "type": "integer"
          },
          "deleted_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "failed": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {},
              "additionalProperties": true
            }
          },
          "mode_hint": {
            "type": "string"
          }
        },
        "required": [
          "ok",
          "dry_run"
        ],
        "additionalProperties": true
      },
      "CreatePlannedWorkoutsRequest": {
        "type": "object",
        "properties": {
          "events": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Event name, concise and specific"
                },
                "start_date_local": {
                  "type": "string",
                  "description": "Local start datetime without timezone suffix, e.g. 2026-02-16T09:00:00"
                },
                "end_date_local": {
                  "type": "string",
                  "description": "Local end datetime without timezone suffix. For NOTE all-day: next day T00:00:00"
                },
                "category": {
                  "type": "string",
                  "enum": [
                    "WORKOUT",
                    "NOTE"
                  ],
                  "description": "WORKOUT for training, NOTE for context/rest/illness. Defaults to WORKOUT if omitted."
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "Run",
                    "Ride",
                    "Swim",
                    "Workout",
                    "WeightTraining",
                    "Yoga",
                    "Pilates",
                    "Stretching",
                    "Walk",
                    "Hike",
                    "Elliptical",
                    "NordicSki",
                    "HighIntensityIntervalTraining",
                    "Other"
                  ],
                  "description": "Title Case activity type. Required for WORKOUT. Omit for NOTE."
                },
                "description": {
                  "type": "string",
                  "description": "Structured multi-line description. For structured workouts, use native Intervals.icu workout text lines, for example '- 10m Z2 HR'. HR-only workouts must use HR targets such as Z2 HR, not pace or power."
                },
                "color": {
                  "type": "string",
                  "enum": [
                    "green",
                    "orange",
                    "blue",
                    "red",
                    "purple"
                  ],
                  "description": "green=cardio/run, orange=strength/mobility"
                },
                "moving_time": {
                  "type": "integer",
                  "description": "Duration in seconds. For WORKOUT only, omit for NOTE."
                },
                "icu_training_load": {
                  "type": "integer",
                  "description": "Estimated training load. For WORKOUT only, omit for NOTE. Intervals.icu may store load but return icu_atl/icu_ctl as null or exclude/partially weight non-cardio/support types in Fitness/Fatigue depending on athlete settings."
                },
                "duration_minutes": {
                  "type": "integer",
                  "minimum": 1,
                  "description": "Duration in minutes (alternative to moving_time)"
                },
                "external_id": {
                  "type": "string",
                  "description": "Stable unique ID for upsert/update, e.g. plan:2026-03-11:easy-run or note:2026-03-11:illness. Reuse the same value when editing an existing event."
                },
                "for_week": {
                  "type": "boolean",
                  "description": "For NOTE only: mark the note as applying to the whole week."
                },
                "target": {
                  "type": "string",
                  "enum": [
                    "AUTO",
                    "POWER",
                    "HR",
                    "PACE"
                  ],
                  "description": "Optional Intervals workout target. Use HR for heart-rate-only structured workouts, PACE for pace-led run workouts, and POWER for power-led workouts. If omitted, STAS infers it from description when possible."
                }
              },
              "required": [
                "name",
                "start_date_local"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "events"
        ],
        "additionalProperties": false
      },
      "BulkCreateResult": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "dry_run": {
            "type": "boolean"
          },
          "count": {
            "type": "integer"
          },
          "created": {
            "type": "integer"
          },
          "skipped": {
            "type": "integer"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "events": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {},
              "additionalProperties": true
            }
          },
          "icu": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {},
              "additionalProperties": true
            }
          },
          "reason": {
            "type": "string"
          }
        },
        "required": [
          "ok"
        ],
        "additionalProperties": true
      },
      "TrainingFull": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "workout_type": {
            "type": "string"
          },
          "distance": {
            "type": "string"
          },
          "moving_time": {
            "type": "string"
          },
          "training_load": {
            "type": "integer"
          },
          "fitness": {
            "type": "number"
          },
          "fatigue": {
            "type": "number"
          },
          "intensity": {
            "type": "string"
          },
          "avg_heartrate": {
            "type": "integer"
          },
          "max_heartrate": {
            "type": "integer"
          },
          "lactate_threshold_hr": {
            "type": "integer"
          },
          "elevation_gain": {
            "type": "integer"
          },
          "icu_hr_zones": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "splits_km": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "km": {
                  "type": "integer"
                },
                "pace": {
                  "type": "string"
                },
                "time": {
                  "type": "string"
                },
                "avg_hr": {
                  "type": "integer"
                }
              },
              "required": [
                "km",
                "pace",
                "time"
              ],
              "additionalProperties": true
            }
          },
          "interval_summary": {
            "oneOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "null"
              }
            ]
          },
          "activity_plan": {
            "oneOf": [
              {
                "type": "object",
                "properties": {},
                "additionalProperties": true
              },
              {
                "type": "object",
                "properties": {
                  "has_intervals": {
                    "type": "boolean"
                  },
                  "intervals": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "label": {
                          "type": "string"
                        },
                        "duration_s": {
                          "type": "integer"
                        },
                        "distance_m": {
                          "type": "number"
                        },
                        "avg_pace": {
                          "type": "string"
                        },
                        "avg_hr": {
                          "type": "integer"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                },
                "required": [
                  "has_intervals"
                ],
                "additionalProperties": true
              }
            ]
          },
          "hr_zone_times": {
            "oneOf": [
              {
                "type": "array",
                "items": {
                  "type": "number"
                }
              },
              {
                "type": "null"
              }
            ]
          },
          "listDetail": {
            "$ref": "#/components/schemas/TrainingListDetail",
            "description": "Exact accounting for the size-safe list projection. If a section is truncated and exact execution matters, call getActivityDetailFromDB for this training id."
          }
        },
        "required": [
          "id",
          "date"
        ],
        "additionalProperties": true
      },
      "TrainingListDetail": {
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "index",
              "analysis"
            ]
          },
          "detailAvailable": {
            "type": "boolean"
          },
          "intervals": {
            "$ref": "#/components/schemas/TrainingListSectionAccounting"
          },
          "intervalSummary": {
            "$ref": "#/components/schemas/TrainingListSectionAccounting"
          },
          "splits": {
            "$ref": "#/components/schemas/TrainingListSectionAccounting"
          },
          "userReportTruncated": {
            "type": "boolean"
          },
          "responseBudgetAdjusted": {
            "type": "boolean"
          },
          "fieldsOmittedForResponseBudget": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "mode",
          "detailAvailable",
          "intervals",
          "intervalSummary",
          "splits",
          "userReportTruncated",
          "responseBudgetAdjusted"
        ],
        "additionalProperties": true
      },
      "TrainingListSectionAccounting": {
        "type": "object",
        "properties": {
          "available": {
            "type": "integer",
            "minimum": 0
          },
          "returned": {
            "type": "integer",
            "minimum": 0
          },
          "truncated": {
            "type": "boolean"
          }
        },
        "required": [
          "available",
          "returned",
          "truncated"
        ],
        "additionalProperties": false
      },
      "TrainingsListResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/TrainingFull"
        }
      },
      "StrategyWriteRequest": {
        "type": "object",
        "properties": {
          "strategy_md": {
            "type": "string"
          }
        },
        "required": [
          "strategy_md"
        ],
        "additionalProperties": false
      },
      "StrategyWriteResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          }
        },
        "required": [
          "ok"
        ],
        "additionalProperties": false
      },
      "ActivityDetailResponse": {
        "type": "object",
        "description": "AI-ready detailed passport for one completed workout. Raw source payloads, route coordinates, latlng, and raw stream arrays are intentionally omitted.",
        "properties": {
          "overview": {
            "$ref": "#/components/schemas/ActivityDetailOverview"
          },
          "totals": {
            "$ref": "#/components/schemas/ActivityDetailTotals"
          },
          "redactions": {
            "type": "array",
            "description": "Confirms that raw source payloads, raw streams, route coordinates, and latlng were omitted.",
            "items": {
              "type": "string"
            }
          },
          "intervalsDetailed": {
            "$ref": "#/components/schemas/ActivityDetailListSection"
          },
          "workIntervalsSummary": {
            "type": "array",
            "description": "Compact protected summary of work and recovery intervals. This stays complete even when detailed intervals are reduced by response-size limits.",
            "items": {
              "$ref": "#/components/schemas/ActivityDetailWorkIntervalSummaryItem"
            }
          },
          "lapsDetailed": {
            "$ref": "#/components/schemas/ActivityDetailListSection"
          },
          "splitsDetailed": {
            "$ref": "#/components/schemas/ActivityDetailListSection"
          },
          "terrainSummary": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ActivityDetailTerrainSummary"
              },
              {
                "type": "null"
              }
            ]
          },
          "streamSummary": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ActivityDetailStreamSummary"
              },
              {
                "type": "null"
              }
            ]
          },
          "weather": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ActivityDetailWeatherSummary"
              },
              {
                "type": "null"
              }
            ]
          },
          "bestEfforts": {
            "$ref": "#/components/schemas/ActivityDetailListSection"
          },
          "segments": {
            "$ref": "#/components/schemas/ActivityDetailListSection"
          },
          "flags": {
            "type": "array",
            "description": "Detected issues or notable conditions, for example uphill, pace_drop, hr_drift, missing_hr, weak_altitude, terrain_mismatch.",
            "items": {
              "type": "string"
            }
          },
          "dataQuality": {
            "$ref": "#/components/schemas/ActivityDetailDataQuality"
          },
          "limits": {
            "$ref": "#/components/schemas/ActivityDetailLimits"
          },
          "sizeEstimate": {
            "$ref": "#/components/schemas/ActivityDetailSizeEstimate"
          }
        },
        "required": [
          "overview",
          "totals",
          "redactions",
          "intervalsDetailed",
          "workIntervalsSummary",
          "lapsDetailed",
          "splitsDetailed",
          "bestEfforts",
          "segments",
          "flags",
          "dataQuality",
          "limits",
          "sizeEstimate"
        ],
        "additionalProperties": true
      },
      "ActivityDetailOverview": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "STAS training id."
          },
          "sourceActivityId": {
            "type": "string",
            "description": "Source activity id if available; not a route or raw payload."
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "localDate": {
            "type": [
              "string",
              "null"
            ]
          },
          "sport": {
            "type": [
              "string",
              "null"
            ]
          },
          "sportFamily": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "run",
              "ride",
              "swim",
              null
            ]
          },
          "sessionType": {
            "type": [
              "string",
              "null"
            ]
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "source": {
            "type": [
              "string",
              "null"
            ]
          },
          "detailLevel": {
            "type": [
              "string",
              "null"
            ]
          },
          "userReport": {
            "type": [
              "string",
              "null"
            ],
            "description": "User self-report for the workout if available."
          },
          "externalAssessment": {
            "$ref": "#/components/schemas/ActivityDetailGenericObject"
          }
        },
        "additionalProperties": true
      },
      "ActivityDetailTotals": {
        "type": "object",
        "properties": {
          "distanceKm": {
            "type": [
              "number",
              "null"
            ]
          },
          "movingTimeSec": {
            "type": [
              "integer",
              "null"
            ]
          },
          "elapsedTimeSec": {
            "type": [
              "integer",
              "null"
            ]
          },
          "averagePaceSecPerKm": {
            "type": [
              "number",
              "null"
            ]
          },
          "averagePace": {
            "type": [
              "string",
              "null"
            ]
          },
          "avgSpeedMps": {
            "type": [
              "number",
              "null"
            ]
          },
          "avgHr": {
            "type": [
              "integer",
              "null"
            ]
          },
          "maxHr": {
            "type": [
              "integer",
              "null"
            ]
          },
          "lactateThresholdHr": {
            "type": [
              "integer",
              "null"
            ]
          },
          "load": {
            "type": [
              "integer",
              "null"
            ]
          },
          "intensity": {
            "type": [
              "number",
              "null"
            ]
          },
          "fitness": {
            "type": [
              "number",
              "null"
            ]
          },
          "fatigue": {
            "type": [
              "number",
              "null"
            ]
          },
          "form": {
            "type": [
              "number",
              "null"
            ]
          },
          "elevationGainM": {
            "type": [
              "number",
              "null"
            ]
          },
          "avgWatts": {
            "type": [
              "integer",
              "null"
            ]
          },
          "normalizedPower": {
            "type": [
              "integer",
              "null"
            ]
          },
          "maxWatts": {
            "type": [
              "integer",
              "null"
            ]
          },
          "ftp": {
            "type": [
              "integer",
              "null"
            ]
          },
          "variabilityIndex": {
            "type": [
              "number",
              "null"
            ]
          },
          "intensityFactor": {
            "type": [
              "number",
              "null"
            ]
          },
          "cadence": {
            "type": [
              "integer",
              "null"
            ]
          },
          "calories": {
            "type": [
              "integer",
              "null"
            ]
          },
          "coastingTimeSec": {
            "type": [
              "integer",
              "null"
            ]
          },
          "decouplingPct": {
            "type": [
              "number",
              "null"
            ]
          },
          "efficiencyFactor": {
            "type": [
              "number",
              "null"
            ]
          },
          "hrZoneTimes": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "number"
            }
          },
          "hrZones": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "number"
            }
          },
          "powerZoneTimes": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "number"
            }
          }
        },
        "additionalProperties": true
      },
      "ActivityDetailListSection": {
        "type": "object",
        "description": "Limited list section. available is the full detected count; returned is how many items are included in this response.",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ActivityDetailItem"
            }
          },
          "available": {
            "type": "integer"
          },
          "returned": {
            "type": "integer"
          },
          "truncated": {
            "type": "boolean"
          },
          "max": {
            "type": "integer"
          },
          "policy": {
            "type": "string",
            "enum": [
              "all",
              "uniform_sample"
            ]
          },
          "source": {
            "type": "string"
          },
          "quality": {
            "type": "string",
            "enum": [
              "high",
              "medium",
              "low",
              "none",
              "unavailable"
            ]
          }
        },
        "required": [
          "items"
        ],
        "additionalProperties": true
      },
      "ActivityDetailWorkIntervalSummaryItem": {
        "type": "object",
        "description": "One compact workout interval summary item.",
        "properties": {
          "index": {
            "type": "integer"
          },
          "label": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "warmup",
              "work",
              "recovery",
              "cooldown",
              "unknown"
            ]
          },
          "durationSec": {
            "type": [
              "integer",
              "null"
            ]
          },
          "distanceM": {
            "type": [
              "number",
              "null"
            ]
          },
          "startTimeSec": {
            "type": [
              "number",
              "null"
            ]
          },
          "endTimeSec": {
            "type": [
              "number",
              "null"
            ]
          },
          "avgSpeedMps": {
            "type": [
              "number",
              "null"
            ]
          },
          "paceSecPerKm": {
            "type": [
              "number",
              "null"
            ]
          },
          "avgHr": {
            "type": [
              "number",
              "null"
            ]
          },
          "minHr": {
            "type": [
              "number",
              "null"
            ]
          },
          "maxHr": {
            "type": [
              "number",
              "null"
            ]
          },
          "avgPower": {
            "type": [
              "number",
              "null"
            ]
          },
          "maxPower": {
            "type": [
              "number",
              "null"
            ]
          },
          "avgCadence": {
            "type": [
              "number",
              "null"
            ]
          },
          "elevationGainM": {
            "type": [
              "number",
              "null"
            ]
          },
          "avgGradePct": {
            "type": [
              "number",
              "null"
            ]
          },
          "sourceType": {
            "type": [
              "string",
              "null"
            ]
          },
          "source": {
            "type": "string"
          }
        },
        "required": [
          "index",
          "label",
          "type",
          "durationSec",
          "avgHr",
          "maxHr",
          "avgPower",
          "maxPower",
          "avgCadence",
          "source"
        ],
        "additionalProperties": true
      },
      "ActivityDetailItem": {
        "type": "object",
        "description": "One detailed interval, lap, split, best effort, or segment item. Fields vary by section.",
        "properties": {
          "num": {
            "type": "integer"
          },
          "type": {
            "type": [
              "string",
              "null"
            ]
          },
          "label": {
            "type": [
              "string",
              "null"
            ]
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "startIndex": {
            "type": [
              "integer",
              "null"
            ]
          },
          "endIndex": {
            "type": [
              "integer",
              "null"
            ]
          },
          "startTimeSec": {
            "type": [
              "integer",
              "null"
            ]
          },
          "endTimeSec": {
            "type": [
              "integer",
              "null"
            ]
          },
          "distance": {
            "type": [
              "string",
              "null"
            ]
          },
          "distanceM": {
            "type": [
              "number",
              "null"
            ]
          },
          "time": {
            "type": [
              "string",
              "null"
            ]
          },
          "activeTimeSec": {
            "type": [
              "integer",
              "null"
            ]
          },
          "movingTimeSec": {
            "type": [
              "integer",
              "null"
            ]
          },
          "elapsedTimeSec": {
            "type": [
              "integer",
              "null"
            ]
          },
          "pace": {
            "type": [
              "string",
              "null"
            ]
          },
          "paceSecPerKm": {
            "type": [
              "number",
              "null"
            ]
          },
          "gapSecPerKm": {
            "type": [
              "number",
              "null"
            ]
          },
          "avgSpeedMps": {
            "type": [
              "number",
              "null"
            ]
          },
          "avgHr": {
            "type": [
              "number",
              "null"
            ]
          },
          "minHr": {
            "type": [
              "number",
              "null"
            ]
          },
          "maxHr": {
            "type": [
              "number",
              "null"
            ]
          },
          "avgCadence": {
            "type": [
              "number",
              "null"
            ]
          },
          "avgWatts": {
            "type": [
              "number",
              "null"
            ]
          },
          "maxWatts": {
            "type": [
              "number",
              "null"
            ]
          },
          "elevationGainM": {
            "type": [
              "number",
              "null"
            ]
          },
          "elevationLossM": {
            "type": [
              "number",
              "null"
            ]
          },
          "minAltitudeM": {
            "type": [
              "number",
              "null"
            ]
          },
          "maxAltitudeM": {
            "type": [
              "number",
              "null"
            ]
          },
          "avgGradePct": {
            "type": [
              "number",
              "null"
            ]
          },
          "maxGradePct": {
            "type": [
              "number",
              "null"
            ],
            "description": "Maximum grade percent for the item when available from Intervals or derived from altitude/distance streams."
          },
          "rank": {
            "type": [
              "integer",
              "null"
            ]
          },
          "pr": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "source": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "ActivityDetailTerrainSummary": {
        "type": "object",
        "properties": {
          "elevationGainM": {
            "type": [
              "number",
              "null"
            ]
          },
          "elevationLossM": {
            "type": [
              "number",
              "null"
            ]
          },
          "minElevationM": {
            "type": [
              "number",
              "null"
            ]
          },
          "maxElevationM": {
            "type": [
              "number",
              "null"
            ]
          },
          "avgGradePct": {
            "type": [
              "number",
              "null"
            ]
          },
          "gradedPaceSecPerKm": {
            "type": [
              "number",
              "null"
            ]
          },
          "source": {
            "type": "string"
          },
          "quality": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "ActivityDetailStreamSummary": {
        "type": "object",
        "properties": {
          "source": {
            "type": "string"
          },
          "quality": {
            "type": "string"
          },
          "requestedTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "availableTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "sampleCountByType": {
            "$ref": "#/components/schemas/ActivityDetailGenericObject"
          },
          "totalSamples": {
            "type": "integer"
          },
          "durationSec": {
            "type": [
              "integer",
              "null"
            ]
          },
          "distanceM": {
            "type": [
              "number",
              "null"
            ]
          },
          "metrics": {
            "$ref": "#/components/schemas/ActivityDetailGenericObject"
          },
          "pauseSummary": {
            "$ref": "#/components/schemas/ActivityDetailGenericObject"
          },
          "terrainFromSamples": {
            "$ref": "#/components/schemas/ActivityDetailGenericObject"
          }
        },
        "additionalProperties": true
      },
      "ActivityDetailWeatherSummary": {
        "type": "object",
        "properties": {
          "temperatureC": {
            "type": [
              "number",
              "null"
            ]
          },
          "humidityPct": {
            "type": [
              "number",
              "null"
            ]
          },
          "windSpeedMps": {
            "type": [
              "number",
              "null"
            ]
          },
          "condition": {
            "type": [
              "string",
              "null"
            ]
          },
          "source": {
            "type": "string"
          },
          "quality": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "ActivityDetailDataQuality": {
        "type": "object",
        "properties": {
          "activity": {
            "$ref": "#/components/schemas/ActivityDetailGenericObject"
          },
          "intervals": {
            "$ref": "#/components/schemas/ActivityDetailGenericObject"
          },
          "workIntervalsSummary": {
            "$ref": "#/components/schemas/ActivityDetailWorkIntervalsDataQuality"
          },
          "laps": {
            "$ref": "#/components/schemas/ActivityDetailGenericObject"
          },
          "splits": {
            "$ref": "#/components/schemas/ActivityDetailGenericObject"
          },
          "live": {
            "$ref": "#/components/schemas/ActivityDetailGenericObject"
          },
          "redactions": {
            "type": "array",
            "description": "Confirms that raw source payloads, raw streams, and route coordinates were omitted.",
            "items": {
              "type": "string"
            }
          }
        },
        "additionalProperties": true
      },
      "ActivityDetailWorkIntervalsDataQuality": {
        "type": "object",
        "properties": {
          "source": {
            "type": "string"
          },
          "quality": {
            "type": "string",
            "enum": [
              "high",
              "medium",
              "low",
              "none",
              "unavailable"
            ]
          },
          "available": {
            "type": "integer"
          },
          "workBlocks": {
            "type": "integer"
          }
        },
        "additionalProperties": true
      },
      "ActivityDetailLimits": {
        "type": "object",
        "properties": {
          "intervals": {
            "type": "integer"
          },
          "workIntervalsSummary": {
            "$ref": "#/components/schemas/ActivityDetailWorkIntervalsLimitSummary"
          },
          "laps": {
            "type": "integer"
          },
          "splits": {
            "type": "integer"
          },
          "bestEfforts": {
            "type": "integer"
          },
          "segments": {
            "type": "integer"
          },
          "responseSizeGuardrail": {
            "$ref": "#/components/schemas/ActivityDetailGenericObject"
          }
        },
        "additionalProperties": true
      },
      "ActivityDetailWorkIntervalsLimitSummary": {
        "type": "object",
        "properties": {
          "available": {
            "type": "integer"
          },
          "returned": {
            "type": "integer"
          },
          "truncated": {
            "type": "boolean"
          },
          "policy": {
            "type": "string",
            "enum": [
              "all",
              "uniform_sample"
            ]
          }
        },
        "required": [
          "available",
          "returned",
          "truncated",
          "policy"
        ],
        "additionalProperties": true
      },
      "ActivityDetailSizeEstimate": {
        "type": "object",
        "properties": {
          "jsonChars": {
            "type": "integer"
          },
          "approxTokens": {
            "type": "integer"
          }
        },
        "required": [
          "jsonChars",
          "approxTokens"
        ],
        "additionalProperties": false
      },
      "ActivityDetailGenericObject": {
        "type": "object",
        "properties": {
          "note": {
            "type": "string",
            "description": "Generic object; actual keys may vary by workout and data source."
          }
        },
        "additionalProperties": true
      },
      "GoalResultEditCommand": {
        "description": "One canonical command. Choose command.type only from the listed oneOf variants; aliases such as create, update, delete, add_goal, or update_goal are invalid.",
        "discriminator": {
          "propertyName": "type"
        },
        "oneOf": [
          {
            "type": "object",
            "additionalProperties": false,
            "description": "Canonical general_create command. Send this exact command.type and no alias.",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "general_create"
                ],
                "description": "Use exactly \"general_create\" as command.type."
              },
              "operationId": {
                "type": "string",
                "format": "uuid"
              },
              "title": {
                "type": "string",
                "minLength": 1,
                "maxLength": 300
              },
              "deadlineDate": {
                "anyOf": [
                  {
                    "type": "string",
                    "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "sport": {
                "anyOf": [
                  {
                    "type": "string",
                    "enum": [
                      "run",
                      "ride",
                      "swim"
                    ]
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "target": {
                "anyOf": [
                  {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 500
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "comment": {
                "anyOf": [
                  {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 1000
                  },
                  {
                    "type": "null"
                  }
                ]
              }
            },
            "required": [
              "type",
              "operationId",
              "title"
            ]
          },
          {
            "type": "object",
            "additionalProperties": false,
            "description": "Canonical general_update command. Send this exact command.type and no alias.",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "general_update"
                ],
                "description": "Use exactly \"general_update\" as command.type."
              },
              "operationId": {
                "type": "string",
                "format": "uuid"
              },
              "goalPublicId": {
                "type": "string",
                "format": "uuid"
              },
              "title": {
                "type": "string",
                "minLength": 1,
                "maxLength": 300
              },
              "deadlineDate": {
                "anyOf": [
                  {
                    "type": "string",
                    "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
                  },
                  {
[...]
