openapi: 3.1.0
info:
  title: STAS Gateway v2
  version: 2.0.1
servers:
  - url: https://intervals.stas.run/gw
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas: {}
paths:
  /stas/user_summary:
    get:
      operationId: getUserSummary
      security: [{ bearerAuth: [] }]
      summary: Get user_summary from STAS
      responses:
        '200': { description: OK }
        '401': { description: Missing/invalid token }
  /stas/trainings:
    get:
      operationId: getTrainings
      security: [{ bearerAuth: [] }]
      summary: Get trainings from STAS
      parameters:
        - in: query
          name: from
          schema: { type: string, format: date }
        - in: query
          name: to
          schema: { type: string, format: date }
      responses:
        '200': { description: OK }
        '401': { description: Missing/invalid token }
  /icu/plan:
    get:
      operationId: getIcuPlan
      security: [{ bearerAuth: [] }]
      summary: Get Intervals plan (planned & actual)
      parameters:
        - in: query
          name: oldest
          schema: { type: string, format: date }
        - in: query
          name: newest
          schema: { type: string, format: date }
      responses:
        '200': { description: OK }
        '401': { description: Missing/invalid token }
  /icu/events:
    post:
      operationId: postIcuEvents
      security: [{ bearerAuth: [] }]
      summary: Bulk upsert planned events to Intervals
      parameters:
        - in: query
          name: dry_run
          schema: { type: boolean }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [events]
              properties:
                events:
                  type: array
                  minItems: 1
                  items:
                    type: object
                    required: [name, start_date_local, duration_sec, type, category]
                    properties:
                      name: { type: string }
                      start_date_local: { type: string }
                      duration_sec: { type: integer }
                      type: { type: string }
                      category: { type: string }
                      description: { type: string }
                      external_id: { type: string }
      responses:
        '200': { description: OK }
        '401': { description: Missing/invalid token }
        '4XX': { description: Upstream/validation error }
