{
  "openapi": "3.1.0",
  "info": {
    "title": "STAS Intervals Gateway",
    "version": "1.0.0",
    "description": "Gateway for Intervals.icu planned workouts (read/write/delete) + STAS DB endpoints. Auth via OAuth2."
  },
  "servers": [
    {
      "url": "https://intervals.stas.run"
    }
  ],
  "security": [
    {
      "oauth2": [
        "ACTIVITY:WRITE",
        "WELLNESS:WRITE",
        "CALENDAR:WRITE",
        "CHATS:WRITE",
        "LIBRARY:WRITE",
        "SETTINGS:WRITE"
      ]
    }
  ],
  "paths": {
    "/gw/api/me": {
      "get": {
        "operationId": "getMe",
        "summary": "Get current user identity from JWT token",
        "responses": {
          "200": {
            "description": "User identity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gw/api/db/user_summary": {
      "get": {
        "operationId": "getUserSummary",
        "summary": "Get user_summary from STAS DB",
        "responses": {
          "200": {
            "description": "User summary payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserSummaryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gw/api/db/trainings": {
      "get": {
        "operationId": "getTrainingsFromDB",
        "summary": "Get trainings from STAS DB",
        "responses": {
          "200": {
            "description": "Trainings list payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gw/api/db/activity_detail": {
      "get": {
        "operationId": "getActivityDetailFromDB",
        "summary": "Get detailed package for one completed training",
        "description": "Read-only detailed package for one selected completed workout. Use after getTrainingsFromDB or getFullTrainings identifies the exact training_id. Do not batch this action across many workouts. The response omits rawData, route coordinates, latlng, and raw stream arrays.",
        "parameters": [
          {
            "name": "training_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Training id returned by trainings actions. Load trainings first to identify the exact completed workout."
          }
        ],
        "responses": {
          "200": {
            "description": "Detailed activity package for one selected workout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid training_id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Training not found for current user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gw/api/db/profile_sections": {
      "get": {
        "operationId": "readProfileSections",
        "summary": "Read profile memory sections",
        "description": "Read current profile, goals, and rules with hashes. Use before preview so the saved hash is fresh. This does not write anything.",
        "responses": {
          "200": {
            "description": "Profile sections payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "sections": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProfileSection"
                      }
                    }
                  },
                  "required": [
                    "ok",
                    "sections"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gw/api/db/profile_sections/preview": {
      "post": {
        "operationId": "previewProfileSectionChange",
        "summary": "Preview a profile memory change",
        "description": "Preview one profile/goals/rules section using structured fields. For goals, send a flat items list with optional exact ISO date, goal, target result, and comment; server builds canonical goals text. Never saves; commit only after exact confirmation.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileSectionPreviewRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile change preview",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileWriteResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Write disabled, section disabled, not allowlisted, or sensitive data rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Current section text differs from previousHash",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gw/api/db/profile_sections/commit": {
      "post": {
        "operationId": "commitProfileSectionChange",
        "summary": "Commit a profile memory change",
        "description": "Save a previewed profile/goals/rules change. Call only after the user confirms the exact full new text shown from preview.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileSectionCommitRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile change committed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileWriteResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or expired preview",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Profile change not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Profile changed since preview",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gw/api/db/profile_changes": {
      "get": {
        "operationId": "readProfileChangeHistory",
        "summary": "Read profile memory change history",
        "description": "Read profile/goals/rules change history. This is read-only. Use before restore decisions, not as permission to restore.",
        "parameters": [
          {
            "name": "section",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "profile",
                "goals",
                "rules"
              ]
            },
            "description": "Optional profile section filter."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "previewed",
                "committed",
                "restored",
                "expired",
                "conflict",
                "rejected"
              ]
            },
            "description": "Optional change status filter."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "description": "Maximum number of changes to return."
          }
        ],
        "responses": {
          "200": {
            "description": "Profile change history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "changes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProfileMemoryChange"
                      }
                    }
                  },
                  "required": [
                    "ok",
                    "changes"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gw/api/db/profile_changes/{changeId}/restore": {
      "post": {
        "operationId": "restoreProfileChange",
        "summary": "Restore a profile memory change",
        "description": "Restore a committed profile/goals/rules change. Call only after showing exact restore text and getting explicit user confirmation.",
        "parameters": [
          {
            "name": "changeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Committed profile memory change id."
          }
        ],
        "responses": {
          "200": {
            "description": "Profile change restored",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileWriteResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Profile change not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Profile changed since commit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gw/icu/events": {
      "get": {
        "operationId": "getPlannedWorkoutsGw",
        "summary": "List planned workouts (gateway route)",
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 365
            },
            "description": "Return planned events for last N days window (relative). If omitted, can use oldest/newest."
          },
          {
            "name": "oldest",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Oldest date (YYYY-MM-DD) inclusive."
          },
          {
            "name": "newest",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Newest date (YYYY-MM-DD) inclusive."
          }
        ],
        "responses": {
          "200": {
            "description": "Planned events list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlannedWorkoutsList"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deletePlannedWorkouts",
        "summary": "Delete planned workouts by external_id_prefix + date window (supports dry_run)",
        "parameters": [
          {
            "name": "external_id_prefix",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Delete only events whose external_id starts with this prefix, e.g. plan: or test:"
          },
          {
            "name": "oldest",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Oldest date (YYYY-MM-DD) inclusive."
          },
          {
            "name": "newest",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Newest date (YYYY-MM-DD) inclusive."
          },
          {
            "name": "dry_run",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "If true, do not delete, only report what would be deleted."
          }
        ],
        "responses": {
          "200": {
            "description": "Delete result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteWindowResult"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createPlannedWorkoutsGw",
        "summary": "Bulk create planned events (gateway route)",
        "description": "Bulk create planned events via Intervals API (dedupe by external_id).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePlannedWorkoutsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk create result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkCreateResult"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gw/trainings": {
      "get": {
        "operationId": "getFullTrainings",
        "summary": "Get full trainings (with splits/intervals) from STAS DB bridge",
        "parameters": [
          {
            "name": "oldest",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start boundary date (YYYY-MM-DD), inclusive."
          },
          {
            "name": "newest",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End boundary date (YYYY-MM-DD). For calendar windows, use the day after the last desired date."
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Relative days window. Prefer oldest/newest for planning history."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 30
            },
            "description": "Max trainings per page. Real cap is 50."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            },
            "description": "Pagination offset when a date window needs more pages."
          },
          {
            "name": "full",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            },
            "description": "Default true for Actions; send true/full=1 to include intervals and splits."
          }
        ],
        "responses": {
          "200": {
            "description": "Full trainings list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingsListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gw/user_summary": {
      "get": {
        "operationId": "getUserSummaryGw",
        "summary": "Get full user summary via gateway (profile, metrics, trainings, pace journal, condition)",
        "responses": {
          "200": {
            "description": "User summary payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserSummaryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gw/strategy": {
      "post": {
        "operationId": "writeStrategy",
        "summary": "Write strategy to user_summary (server-side storage)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StrategyWriteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Write result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StrategyWriteResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://intervals.stas.run/gw/oauth/authorize",
            "tokenUrl": "https://intervals.stas.run/gw/oauth/token",
            "scopes": {
              "ACTIVITY:WRITE": "Read and write activities",
              "WELLNESS:WRITE": "Read and write wellness data",
              "CALENDAR:WRITE": "Read and write planned workouts",
              "CHATS:WRITE": "Read and write chats",
              "LIBRARY:WRITE": "Read and write workout library",
              "SETTINGS:WRITE": "Read and write athlete settings"
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "details": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          }
        },
        "additionalProperties": false
      },
      "MeResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "user_id": {
            "type": "string",
            "description": "Intervals athlete id resolved from OAuth token"
          },
          "email": {
            "type": "string"
          }
        },
        "required": [
          "ok",
          "user_id"
        ],
        "additionalProperties": false
      },
      "UserSummaryResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "user_summary": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          }
        },
        "required": [
          "ok",
          "user_summary"
        ],
        "additionalProperties": false
      },
      "Training": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "workout_type": {
            "type": "string"
          },
          "distance": {
            "type": "string"
          },
          "moving_time": {
            "type": "string"
          },
          "training_load": {
            "type": "integer"
          },
          "fitness": {
            "type": "number"
          },
          "fatigue": {
            "type": "number"
          },
          "intensity": {
            "type": "string"
          },
          "avg_heartrate": {
            "type": "integer"
          },
          "max_heartrate": {
            "type": "integer"
          },
          "user_report": {
            "type": [
              "string",
              "null"
            ]
          },
          "ai_comment": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "date"
        ],
        "additionalProperties": true
      },
      "TrainingsResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "trainings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Training"
            }
          }
        },
        "required": [
          "ok",
          "trainings"
        ],
        "additionalProperties": false
      },
      "ProfileSection": {
        "type": "object",
        "properties": {
          "section": {
            "type": "string",
            "enum": [
              "profile",
              "goals",
              "rules"
            ],
            "description": "Choose profile for athlete facts, goals for targets, rules for constraints. Do not mix sections."
          },
          "targetField": {
            "type": "string",
            "enum": [
              "info",
              "goals",
              "rules"
            ]
          },
          "text": {
            "type": "string"
          },
          "hash": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          }
        },
        "required": [
          "section",
          "targetField",
          "text",
          "hash",
          "enabled"
        ],
        "additionalProperties": false
      },
      "ProfileSectionPreviewRequest": {
        "type": "object",
        "properties": {
          "section": {
            "type": "string",
            "enum": [
              "profile",
              "goals",
              "rules"
            ]
          },
          "structured": {
            "$ref": "#/components/schemas/ProfileMemoryStructuredInput",
            "description": "Required. Send only the object matching section. For goals, send a flat items list with optional exact ISO date, goal, target result, and comment; the server builds canonical goals text."
          },
          "previousHash": {
            "type": "string",
            "minLength": 1,
            "description": "Hash returned by readProfileSections for this section."
          },
          "diffSummary": {
            "type": "string",
            "description": "Short factual summary of what changed. Do not include raw chat."
          }
        },
        "required": [
          "section",
          "structured",
          "previousHash"
        ],
        "additionalProperties": false
      },
      "ProfileMemoryStructuredInput": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "goals": {
            "$ref": "#/components/schemas/ProfileMemoryStructuredGoals",
            "description": "Use only when section is goals. Server builds canonical goals text from the goals list."
          },
          "rules": {
            "$ref": "#/components/schemas/ProfileMemoryStructuredRules"
          },
          "profile": {
            "$ref": "#/components/schemas/ProfileMemoryStructuredProfile"
          }
        },
        "description": "Structured profile memory input. Send only the object matching section. Do not include firstName."
      },
      "ProfileMemoryStructuredProfile": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "birthYear": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 1940,
            "maximum": 2010,
            "description": "Birth year. Omit to preserve; null only to clear."
          },
          "gender": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "male",
              "female",
              null
            ],
            "description": "Gender from the web profile form. Omit to preserve; null only to clear."
          },
          "height": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 130,
            "maximum": 230,
            "description": "Height in cm. Omit to preserve; null only to clear."
          },
          "weight": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 30,
            "maximum": 200,
            "description": "Weight in kg. Omit to preserve; null only to clear."
          },
          "maxHr": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 100,
            "maximum": 220,
            "description": "Maximum heart rate. Omit to preserve; null only to clear."
          },
          "ltHr": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 100,
            "maximum": 220,
            "description": "Lactate-threshold heart rate. Omit to preserve; null only to clear."
          },
          "otherSports": {
            "type": [
              "string",
              "null"
            ],
            "description": "Other sports. Omit to preserve; null only to clear."
          },
          "raceResults": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "distance": {
                  "type": "string"
                },
                "result": {
                  "type": "string"
                },
                "date": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "distance",
                "result"
              ]
            },
            "description": "Race PR list. If provided, replaces the whole list; [] or null clears it. Omit to preserve."
          },
          "additional": {
            "type": [
              "string",
              "null"
            ],
            "description": "Additional durable profile context. Do not use for firstName."
          }
        }
      },
      "ProfileMemoryStructuredGoals": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "date": {
                  "type": "string",
                  "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
                  "description": "Optional exact goal date in YYYY-MM-DD. Omit when unknown; approximate dates are not supported."
                },
                "goal": {
                  "type": "string",
                  "description": "Required goal or event, for example 5 км, 10 км, regularity, health, cycling event, or triathlon."
                },
                "targetResult": {
                  "type": "string",
                  "description": "Target result or measurable outcome. Omit when unknown; server writes `не указано`."
                },
                "comment": {
                  "type": "string",
                  "description": "Short durable context: role, preparation depth, taper/risk note, or season meaning. Omit when unknown; server writes `не указано`."
                }
              },
              "required": [
                "goal"
              ]
            },
            "description": "Flat goals list in the same shape as the web profile card. Every dated race is a real goal by default; do not demote goals into lower-value categories.",
            "minItems": 1
          }
        },
        "required": [
          "items"
        ]
      },
      "ProfileMemoryStructuredRules": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "trainingsPerWeek": {
            "type": "integer",
            "minimum": 1,
            "maximum": 14,
            "description": "Exact single number for Тренировок в неделю. Do not send ranges, minimums, maximums, or flexible wording here."
          },
          "offDays": {
            "type": "integer",
            "minimum": 0,
            "maximum": 7,
            "description": "Exact single number for Выходных. Do not send ranges, minimums, maximums, or flexible wording here."
          },
          "restDays": {
            "type": "string",
            "description": "Fixed rest weekdays for Дни отдыха, only when the user names fixed weekdays."
          },
          "customRules": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Separate durable custom rules. The server writes one Правило line per item."
          },
          "additional": {
            "type": "string",
            "description": "Extra durable rule context."
          }
        }
      },
      "ProfileSectionCommitRequest": {
        "type": "object",
        "properties": {
          "changeId": {
            "type": "integer",
            "minimum": 1,
            "description": "Preview change id returned by previewProfileSectionChange."
          }
        },
        "required": [
          "changeId"
        ],
        "additionalProperties": false
      },
      "ProfileMemoryChange": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "athleteId": {
            "type": "integer"
          },
          "section": {
            "type": "string",
            "enum": [
              "profile",
              "goals",
              "rules"
            ]
          },
          "targetField": {
            "type": "string"
          },
          "oldText": {
            "type": [
              "string",
              "null"
            ]
          },
          "newText": {
            "type": [
              "string",
              "null"
            ],
            "description": "Server-rendered exact full text proposed or committed by the change. Do not send newText in preview requests."
          },
          "oldHash": {
            "type": "string"
          },
          "newHash": {
            "type": "string"
          },
          "source": {
            "type": "string",
            "enum": [
              "gpt",
              "claude"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "previewed",
              "committed",
              "restored",
              "expired",
              "conflict",
              "rejected"
            ]
          },
          "diffSummary": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "committedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": true
      },
      "ProfileWriteResult": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "change": {
            "$ref": "#/components/schemas/ProfileMemoryChange"
          },
          "section": {
            "$ref": "#/components/schemas/ProfileSection"
          }
        },
        "required": [
          "ok"
        ],
        "additionalProperties": false
      },
      "IcuEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Intervals event id"
          },
          "name": {
            "type": "string"
          },
          "start_date": {
            "type": "string",
            "format": "date-time"
          },
          "type": {
            "type": "string",
            "description": "Usually WORKOUT"
          }
        },
        "required": [
          "id",
          "name",
          "start_date"
        ],
        "additionalProperties": true
      },
      "PlannedWorkoutsList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/IcuEvent"
        }
      },
      "DeleteWindowResult": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "dry_run": {
            "type": "boolean"
          },
          "matched": {
            "type": "integer"
          },
          "deleted": {
            "type": "integer"
          },
          "ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "ok",
          "dry_run",
          "matched",
          "deleted",
          "ids"
        ],
        "additionalProperties": false
      },
      "CreatePlannedWorkoutsRequest": {
        "type": "object",
        "properties": {
          "events": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Event name, concise and specific"
                },
                "start_date_local": {
                  "type": "string",
                  "description": "Local start datetime, e.g. 2026-02-16T09:00:00"
                },
                "end_date_local": {
                  "type": "string",
                  "description": "Local end datetime. For NOTE all-day: next day T00:00:00"
                },
                "category": {
                  "type": "string",
                  "enum": [
                    "WORKOUT",
                    "NOTE"
                  ],
                  "description": "WORKOUT for training, NOTE for context/rest/illness. Defaults to WORKOUT if omitted."
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "Run",
                    "Ride",
                    "Swim",
                    "Workout",
                    "WeightTraining",
                    "Other"
                  ],
                  "description": "Title Case activity type. Required for WORKOUT. Omit for NOTE."
                },
                "description": {
                  "type": "string",
                  "description": "Structured multi-line description"
                },
                "color": {
                  "type": "string",
                  "enum": [
                    "green",
                    "orange",
                    "blue",
                    "red",
                    "purple"
                  ],
                  "description": "green=cardio/run, orange=strength/mobility"
                },
                "moving_time": {
                  "type": "integer",
                  "description": "Duration in seconds. For WORKOUT only, omit for NOTE."
                },
                "icu_training_load": {
                  "type": "integer",
                  "description": "Estimated training load. For WORKOUT only, omit for NOTE."
                },
                "duration_minutes": {
                  "type": "integer",
                  "minimum": 1,
                  "description": "Duration in minutes (alternative to moving_time)"
                },
                "external_id": {
                  "type": "string",
                  "description": "Unique ID for upsert/dedupe, e.g. plan:2026-03-11:easy-run or note:2026-03-11:illness"
                }
              },
              "required": [
                "name",
                "start_date_local"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "events"
        ],
        "additionalProperties": false
      },
      "BulkCreateResult": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "created": {
            "type": "integer"
          },
          "skipped": {
            "type": "integer"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "ok",
          "created",
          "skipped",
          "errors"
        ],
        "additionalProperties": false
      },
      "TrainingFull": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "workout_type": {
            "type": "string"
          },
          "distance": {
            "type": "string"
          },
          "moving_time": {
            "type": "string"
          },
          "training_load": {
            "type": "integer"
          },
          "fitness": {
            "type": "number"
          },
          "fatigue": {
            "type": "number"
          },
          "intensity": {
            "type": "string"
          },
          "avg_heartrate": {
            "type": "integer"
          },
          "max_heartrate": {
            "type": "integer"
          },
          "lactate_threshold_hr": {
            "type": "integer"
          },
          "elevation_gain": {
            "type": "integer"
          },
          "icu_hr_zones": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "splits_km": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "km": {
                  "type": "integer"
                },
                "pace": {
                  "type": "string"
                },
                "time": {
                  "type": "string"
                },
                "avg_hr": {
                  "type": "integer"
                }
              },
              "required": [
                "km",
                "pace",
                "time"
              ],
              "additionalProperties": true
            }
          },
          "interval_summary": {
            "oneOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "null"
              }
            ]
          },
          "activity_plan": {
            "oneOf": [
              {
                "type": "object",
                "properties": {},
                "additionalProperties": true
              },
              {
                "type": "object",
                "properties": {
                  "has_intervals": {
                    "type": "boolean"
                  },
                  "intervals": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "label": {
                          "type": "string"
                        },
                        "duration_s": {
                          "type": "integer"
                        },
                        "distance_m": {
                          "type": "number"
                        },
                        "avg_pace": {
                          "type": "string"
                        },
                        "avg_hr": {
                          "type": "integer"
                        }
                      },
                      "additionalProperties": true
                    }
                  }
                },
                "required": [
                  "has_intervals"
                ],
                "additionalProperties": true
              }
            ]
          },
          "hr_zone_times": {
            "oneOf": [
              {
                "type": "array",
                "items": {
                  "type": "number"
                }
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "id",
          "date"
        ],
        "additionalProperties": true
      },
      "TrainingsListResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/TrainingFull"
        }
      },
      "StrategyWriteRequest": {
        "type": "object",
        "properties": {
          "strategy_md": {
            "type": "string"
          }
        },
        "required": [
          "strategy_md"
        ],
        "additionalProperties": false
      },
      "StrategyWriteResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          }
        },
        "required": [
          "ok"
        ],
        "additionalProperties": false
      },
      "ActivityDetailResponse": {
        "type": "object",
        "description": "AI-ready detailed passport for one completed workout. Raw source payloads, route coordinates, latlng, and raw stream arrays are intentionally omitted.",
        "properties": {
          "overview": {
            "$ref": "#/components/schemas/ActivityDetailOverview"
          },
          "totals": {
            "$ref": "#/components/schemas/ActivityDetailTotals"
          },
          "intervalsDetailed": {
            "$ref": "#/components/schemas/ActivityDetailListSection"
          },
          "lapsDetailed": {
            "$ref": "#/components/schemas/ActivityDetailListSection"
          },
          "splitsDetailed": {
            "$ref": "#/components/schemas/ActivityDetailListSection"
          },
          "terrainSummary": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ActivityDetailTerrainSummary"
              },
              {
                "type": "null"
              }
            ]
          },
          "streamSummary": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ActivityDetailStreamSummary"
              },
              {
                "type": "null"
              }
            ]
          },
          "weather": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ActivityDetailWeatherSummary"
              },
              {
                "type": "null"
              }
            ]
          },
          "bestEfforts": {
            "$ref": "#/components/schemas/ActivityDetailListSection"
          },
          "segments": {
            "$ref": "#/components/schemas/ActivityDetailListSection"
          },
          "flags": {
            "type": "array",
            "description": "Detected issues or notable conditions, for example uphill, pace_drop, hr_drift, missing_hr, weak_altitude, terrain_mismatch.",
            "items": {
              "type": "string"
            }
          },
          "dataQuality": {
            "$ref": "#/components/schemas/ActivityDetailDataQuality"
          },
          "limits": {
            "$ref": "#/components/schemas/ActivityDetailLimits"
          },
          "sizeEstimate": {
            "$ref": "#/components/schemas/ActivityDetailSizeEstimate"
          }
        },
        "required": [
          "overview",
          "totals",
          "intervalsDetailed",
          "lapsDetailed",
          "splitsDetailed",
          "bestEfforts",
          "segments",
          "flags",
          "dataQuality",
          "limits",
          "sizeEstimate"
        ],
        "additionalProperties": true
      },
      "ActivityDetailOverview": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "STAS training id."
          },
          "sourceActivityId": {
            "type": "string",
            "description": "Source activity id if available; not a route or raw payload."
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "localDate": {
            "type": [
              "string",
              "null"
            ]
          },
          "sport": {
            "type": [
              "string",
              "null"
            ]
          },
          "sportFamily": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "run",
              "ride",
              "swim",
              null
            ]
          },
          "sessionType": {
            "type": [
              "string",
              "null"
            ]
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "source": {
            "type": [
              "string",
              "null"
            ]
          },
          "detailLevel": {
            "type": [
              "string",
              "null"
            ]
          },
          "userReport": {
            "type": [
              "string",
              "null"
            ],
            "description": "User self-report for the workout if available."
          },
          "externalAssessment": {
            "$ref": "#/components/schemas/ActivityDetailGenericObject"
          }
        },
        "additionalProperties": true
      },
      "ActivityDetailTotals": {
        "type": "object",
        "properties": {
          "distanceKm": {
            "type": [
              "number",
              "null"
            ]
          },
          "movingTimeSec": {
            "type": [
              "integer",
              "null"
            ]
          },
          "elapsedTimeSec": {
            "type": [
              "integer",
              "null"
            ]
          },
          "averagePaceSecPerKm": {
            "type": [
              "number",
              "null"
            ]
          },
          "averagePace": {
            "type": [
              "string",
              "null"
            ]
          },
          "avgSpeedMps": {
            "type": [
              "number",
              "null"
            ]
          },
          "avgHr": {
            "type": [
              "integer",
              "null"
            ]
          },
          "maxHr": {
            "type": [
              "integer",
              "null"
            ]
          },
          "lactateThresholdHr": {
            "type": [
              "integer",
              "null"
            ]
          },
          "load": {
            "type": [
              "integer",
              "null"
            ]
          },
          "intensity": {
            "type": [
              "number",
              "null"
            ]
          },
          "fitness": {
            "type": [
              "number",
              "null"
            ]
          },
          "fatigue": {
            "type": [
              "number",
              "null"
            ]
          },
          "form": {
            "type": [
              "number",
              "null"
            ]
          },
          "elevationGainM": {
            "type": [
              "number",
              "null"
            ]
          },
          "avgWatts": {
            "type": [
              "integer",
              "null"
            ]
          },
          "normalizedPower": {
            "type": [
              "integer",
              "null"
            ]
          },
          "maxWatts": {
            "type": [
              "integer",
              "null"
            ]
          },
          "ftp": {
            "type": [
              "integer",
              "null"
            ]
          },
          "variabilityIndex": {
            "type": [
              "number",
              "null"
            ]
          },
          "intensityFactor": {
            "type": [
              "number",
              "null"
            ]
          },
          "cadence": {
            "type": [
              "integer",
              "null"
            ]
          },
          "calories": {
            "type": [
              "integer",
              "null"
            ]
          },
          "coastingTimeSec": {
            "type": [
              "integer",
              "null"
            ]
          },
          "decouplingPct": {
            "type": [
              "number",
              "null"
            ]
          },
          "efficiencyFactor": {
            "type": [
              "number",
              "null"
            ]
          },
          "hrZoneTimes": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "number"
            }
          },
          "hrZones": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "number"
            }
          },
          "powerZoneTimes": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "number"
            }
          }
        },
        "additionalProperties": true
      },
      "ActivityDetailListSection": {
        "type": "object",
        "description": "Limited list section. available is the full detected count; returned is how many items are included in this response.",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ActivityDetailItem"
            }
          },
          "available": {
            "type": "integer"
          },
          "returned": {
            "type": "integer"
          },
          "truncated": {
            "type": "boolean"
          },
          "max": {
            "type": "integer"
          },
          "policy": {
            "type": "string",
            "enum": [
              "all",
              "uniform_sample"
            ]
          },
          "source": {
            "type": "string"
          },
          "quality": {
            "type": "string",
            "enum": [
              "high",
              "medium",
              "low",
              "none",
              "unavailable"
            ]
          }
        },
        "required": [
          "items"
        ],
        "additionalProperties": true
      },
      "ActivityDetailItem": {
        "type": "object",
        "description": "One detailed interval, lap, split, best effort, or segment item. Fields vary by section.",
        "properties": {
          "num": {
            "type": "integer"
          },
          "type": {
            "type": [
              "string",
              "null"
            ]
          },
          "label": {
            "type": [
              "string",
              "null"
            ]
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "startIndex": {
            "type": [
              "integer",
              "null"
            ]
          },
          "endIndex": {
            "type": [
              "integer",
              "null"
            ]
          },
          "startTimeSec": {
            "type": [
              "integer",
              "null"
            ]
          },
          "endTimeSec": {
            "type": [
              "integer",
              "null"
            ]
          },
          "distance": {
            "type": [
              "string",
              "null"
            ]
          },
          "distanceM": {
            "type": [
              "number",
              "null"
            ]
          },
          "time": {
            "type": [
              "string",
              "null"
            ]
          },
          "activeTimeSec": {
            "type": [
              "integer",
              "null"
            ]
          },
          "movingTimeSec": {
            "type": [
              "integer",
              "null"
            ]
          },
          "elapsedTimeSec": {
            "type": [
              "integer",
              "null"
            ]
          },
          "pace": {
            "type": [
              "string",
              "null"
            ]
          },
          "paceSecPerKm": {
            "type": [
              "number",
              "null"
            ]
          },
          "gapSecPerKm": {
            "type": [
              "number",
              "null"
            ]
          },
          "avgSpeedMps": {
            "type": [
              "number",
              "null"
            ]
          },
          "avgHr": {
            "type": [
              "number",
              "null"
            ]
          },
          "minHr": {
            "type": [
              "number",
              "null"
            ]
          },
          "maxHr": {
            "type": [
              "number",
              "null"
            ]
          },
          "avgCadence": {
            "type": [
              "number",
              "null"
            ]
          },
          "avgWatts": {
            "type": [
              "number",
              "null"
            ]
          },
          "maxWatts": {
            "type": [
              "number",
              "null"
            ]
          },
          "elevationGainM": {
            "type": [
              "number",
              "null"
            ]
          },
          "elevationLossM": {
            "type": [
              "number",
              "null"
            ]
          },
          "minAltitudeM": {
            "type": [
              "number",
              "null"
            ]
          },
          "maxAltitudeM": {
            "type": [
              "number",
              "null"
            ]
          },
          "avgGradePct": {
            "type": [
              "number",
              "null"
            ]
          },
          "rank": {
            "type": [
              "integer",
              "null"
            ]
          },
          "pr": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "source": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "ActivityDetailTerrainSummary": {
        "type": "object",
        "properties": {
          "elevationGainM": {
            "type": [
              "number",
              "null"
            ]
          },
          "elevationLossM": {
            "type": [
              "number",
              "null"
            ]
          },
          "minElevationM": {
            "type": [
              "number",
              "null"
            ]
          },
          "maxElevationM": {
            "type": [
              "number",
              "null"
            ]
          },
          "avgGradePct": {
            "type": [
              "number",
              "null"
            ]
          },
          "gradedPaceSecPerKm": {
            "type": [
              "number",
              "null"
            ]
          },
          "source": {
            "type": "string"
          },
          "quality": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "ActivityDetailStreamSummary": {
        "type": "object",
        "properties": {
          "source": {
            "type": "string"
          },
          "quality": {
            "type": "string"
          },
          "requestedTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "availableTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "sampleCountByType": {
            "$ref": "#/components/schemas/ActivityDetailGenericObject"
          },
          "totalSamples": {
            "type": "integer"
          },
          "durationSec": {
            "type": [
              "integer",
              "null"
            ]
          },
          "distanceM": {
            "type": [
              "number",
              "null"
            ]
          },
          "metrics": {
            "$ref": "#/components/schemas/ActivityDetailGenericObject"
          },
          "pauseSummary": {
            "$ref": "#/components/schemas/ActivityDetailGenericObject"
          },
          "terrainFromSamples": {
            "$ref": "#/components/schemas/ActivityDetailGenericObject"
          }
        },
        "additionalProperties": true
      },
      "ActivityDetailWeatherSummary": {
        "type": "object",
        "properties": {
          "temperatureC": {
            "type": [
              "number",
              "null"
            ]
          },
          "humidityPct": {
            "type": [
              "number",
              "null"
            ]
          },
          "windSpeedMps": {
            "type": [
              "number",
              "null"
            ]
          },
          "condition": {
            "type": [
              "string",
              "null"
            ]
          },
          "source": {
            "type": "string"
          },
          "quality": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "ActivityDetailDataQuality": {
        "type": "object",
        "properties": {
          "activity": {
            "$ref": "#/components/schemas/ActivityDetailGenericObject"
          },
          "intervals": {
            "$ref": "#/components/schemas/ActivityDetailGenericObject"
          },
          "laps": {
            "$ref": "#/components/schemas/ActivityDetailGenericObject"
          },
          "splits": {
            "$ref": "#/components/schemas/ActivityDetailGenericObject"
          },
          "live": {
            "$ref": "#/components/schemas/ActivityDetailGenericObject"
          },
          "redactions": {
            "type": "array",
            "description": "Confirms that raw source payloads, raw streams, and route coordinates were omitted.",
            "items": {
              "type": "string"
            }
          }
        },
        "additionalProperties": true
      },
      "ActivityDetailLimits": {
        "type": "object",
        "properties": {
          "intervals": {
            "type": "integer"
          },
          "laps": {
            "type": "integer"
          },
          "splits": {
            "type": "integer"
          },
          "bestEfforts": {
            "type": "integer"
          },
          "segments": {
            "type": "integer"
          },
          "responseSizeGuardrail": {
            "$ref": "#/components/schemas/ActivityDetailGenericObject"
          }
        },
        "additionalProperties": true
      },
      "ActivityDetailSizeEstimate": {
        "type": "object",
        "properties": {
          "jsonChars": {
            "type": "integer"
          },
          "approxTokens": {
            "type": "integer"
          }
        },
        "required": [
          "jsonChars",
          "approxTokens"
        ],
        "additionalProperties": false
      },
      "ActivityDetailGenericObject": {
        "type": "object",
        "properties": {
          "note": {
            "type": "string",
            "description": "Generic object; actual keys may vary by workout and data source."
          }
        },
        "additionalProperties": true
      }
    }
  }
}
