[Unit]
Description=STAS Auth Gateway
After=network.target

[Service]
WorkingDirectory=/root
ExecStart=/usr/bin/node /root/server-stas-icu.js
User=root
Group=root
NoNewPrivileges=false
Restart=always

[Install]
WantedBy=multi-user.target
